.boston-header-image {
    background-image: url('../../assets/img/boston_dynamics.jpeg');
    background-size: cover;
    margin-top: 30px;
  }

  .ai-header-image {
    background-image: url('../../assets/img/ai.jpeg');
    background-size: cover;
    margin-top: 30px;
  }

  .akhmet-header-image {
    background-image: url('../../assets/img/akhmet.jpeg');
    background-size: cover;
    margin-top: 30px;
  }

  .barber-header-image {
    background-image: url('../../assets/img/barber.jpeg');
    background-size: cover;
    margin-top: 30px;
  }

  .basketball-header-image {
    background-image: url('../../assets/img/basketball.jpeg');
    background-size: cover;
    margin-top: 30px;
  }

  .director-header-image {
    background-image: url('../../assets/img/director.jpeg');
    background-size: cover;
    margin-top: 30px;
  }

  .gop_stop-header-image {
    background-image: url('../../assets/img/gop_stop.jpeg');
    background-size: cover;
    margin-top: 30px;
  }

  .manager-header-image {
    background-image: url('../../assets/img/manager.jpeg');
    background-size: cover;
    margin-top: 30px;
  }

  .operator-header-image {
    background-image: url('../../assets/img/operator.jpeg');
    background-size: cover;
    margin-top: 30px;
  }

  .parent-header-image {
    background-image: url('../../assets/img/parent.jpeg');
    background-size: cover;
    margin-top: 30px;
  }

  .pupsik-header-image {
    background-image: url('../../assets/img/pupsik.jpeg');
    background-size: cover;
    margin-top: 30px;
  }

  .boston-header-image {
    background-image: url('../../assets/img/tanzor.jpeg');
    background-size: cover;
    margin-top: 30px;
  }

  .wrestler-header-image {
    background-image: url('../../assets/img/wrestler.jpeg');
    background-size: cover;
    margin-top: 30px;
  }

  .img-question {
    max-width: 650px;
    max-height: 350px;
  }

  .example-card {
      height: 80%;
  }